@model LoginPageProject.Business.Models.LoginModel

<h2>Login</h2>
<form asp-action="Login" asp-controller="Home" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="UserName">Username</label><br />
            <input type="text" asp-for="UserName" />
        </div>
        <div>
            <label asp-for="Password">Password</label><br />
            <input asp-for="Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>